@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');
$title-font: 'Montserrat', san-serif;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
$primary-font: 'Dosis', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
$heading-font: 'Marck Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');